* {
    box-sizing: border-box;
}

body {
    background-color: #282D4F;
}


.js-quiz-container {
    max-width: 1200px;
    display: flex;
    height: 400px;
}

.intro {
text-align: center;
}

#js-quiz-header {
    text-align: center;
    color: #FF6C00;
}

#js-jordan-dunk {
    max-width: 70%;
    border-radius: 10px;
    border: 2px solid #FF6C00;
}


.js-the-button {
    display: block;
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin: 0 auto;
    background-color: #A0204C;
    color: #F4F4F4;
    font-weight: bold;
    margin-top: 10px;
    
}

.feedback {
    position: absolute;
    bottom: 10px;
    color: red;
    font-weight: bold;
}